*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

@font-face {
    font-family: 'Astronova';
    src: url('../fonts/astronova.ttf') format('truetype'); /* Adjust the path and file format if needed */
  }
  

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    position: absolute;
    top: 50px;
    font-family: Arial, sans-serif;
    font-size: 32px;
    color: white;
    font-family: 'Astronova', Arial, sans-serif;
  }

#text-container{
    position: absolute;
    top: 20%;
    left: 65%;
    color: white;
    font-size: 32px;
}

.paragraph{
  color: rebeccapurple;
}

.fade-in {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.fade-in.show {
  opacity: 1;
}

.fade-out {
  opacity: 1;
  transition: opacity 1.5s ease-in-out;
}

.fade-out.hide {
  opacity: 0;
}

  